html {
    box-sizing: border-box;
}

*,
*::before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Playfair Display", sans-serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

.page-nav {
    font-size: 0;
    padding: 77px 0 104px 0;

}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation a {
    display: block;
    margin: 0;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #03a9f4;
}

.site-navigation li {
    display: inline-block;
}

.link-first {
    margin: 0 121px 0 163px;
}

.link-second {
    margin: 0 103px 0 0;
}

.link-third {
    margin: 0 95px 0 0;
}

/* .site-navigation li:not(:last-child){
    margin-right: 121px;
} */
.post-menu {
    font-size: 0;
    padding-bottom: 21px;
}

.post-item {
    width: 420px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 130px;
}

.post-item:last-child,
.post-item:nth-last-child(-n+3) {
    margin-bottom: 105px;
}

.post-item:not(:nth-child(2n)) {
    margin-right: 60px;
}

.post-image {
    margin-bottom: 30px;
}

.post-description {
    font-family: Ubuntu;
    font-weight: 300;
    color: #b4ad9e;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 23px;
}

.post-name {
    font-size: 30px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 30px;
}

.post-content {
    font-size: 14px;
}

.post-button {
    display: block;
    margin: 0 auto;
    border: 1px solid;
    background: none;
    color: #626262;
    padding: 21px 34px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.post-button:hover,
.post-button:focus{
    color: #03a9f4;
}
