*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
/* HEADER */
.container{
    width: 320px;
    margin: 0 auto;
}

header{
    width: 100%;
    background-color: rgb(26, 25, 21);
    color: #ffffff;
}
.bg-mood{
    width: 100%;
    height: 100%;
    background-image: url(../img/bgi-phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-logo{
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
}
.header-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-menu--item{
    width: 90px;
    height: 36px;
    text-align: center;
    display: inline-block;
    font-size: 0;

}
.header-menu--link{
    color: #ffffff;
    text-decoration: none;
    display: block;
    line-height: 36px;
    font-size: 14px;
    font-weight: 700;
}
.header-menu--item:nth-last-child(-n+1){
    border: 2px solid #ffffff;
    border-radius: 18px;

}
.header-title{
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}
.header-title span{
    display: block;
}
.header-caption{
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
    margin: 0;
    text-align: center;
}
.header-link--search{
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    text-decoration: none;
    width: 280px;
    height: 40px;
    background-color: #ff4e50;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}
/* MAIN */

.main-title{
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    padding-bottom: 15px;
}
.main-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-list--item{
    width: 220px;
    /* transition: linear 0.2s; */
}
/* .main-list--item:hover{
    transform: scale(1.1);
    box-shadow: #333333;
    -webkit-box-shadow: 0px 20px 20px 0px rgba(51,51,51,0.5);
    box-shadow: 0px 20px 20px 0px rgba(51,51,51,0.5);
} */
.main-list--link{
    display: block;
    color: #333333;
    text-decoration: none;
    font-size: 14px;
    width: inherit;
    text-align: center;
    margin: 0 auto;
}
.main-list---link-img{
    display: block;
    max-width: 100%;
    height: auto;
}
.main-list--wrapper-img{
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 120px;
    position: relative;
}


.tv::after{
    content: '';
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(255, 78, 80);
    position: absolute;
    width: 36px;
    height: 36px;    
    right: 0;
    bottom: 0;
    z-index: 1;
}
.tv::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../img/icons/icon-tv.svg);
    background-repeat: no-repeat;
    background-size: contain;
    right: 10px;
    bottom: 11px;
    z-index: 2;
}
.coffee::after{
    content: '';
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: #1cd7ad;
    position: absolute;
    width: 36px;
    height: 36px;    
    right: 0;
    bottom: 0;
    z-index: 1;
}
.coffee::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 17px;
    background-image: url(../img/icons/coffee.svg);
    background-repeat: no-repeat;
    background-size: contain;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}
.chemistry::after{
    content: '';
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: #ffa507;
    position: absolute;
    width: 36px;
    height: 36px;    
    right: 0;
    bottom: 0;
    z-index: 1;
}
.chemistry::before{
    content: '';
    position: absolute;
    width: 13px;
    height: 16px;
    background-image: url(../img/icons/chemistry.svg);
    background-repeat: no-repeat;
    background-size: contain;
    right: 11px;
    bottom: 10px;
    z-index: 2;
}
.airplane::after{
    content: '';
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: #4e73db;
    position: absolute;
    width: 36px;
    height: 36px;    
    right: 0;
    bottom: 0;
    z-index: 1;
}
.airplane::before{
    content: '';
    position: absolute;
    width: 17px;
    height: 16px;
    background-image: url(../img/icons/airplane.svg);
    background-repeat: no-repeat;
    background-size: contain;
    right: 11px;
    bottom: 9px;
    z-index: 2;
}
.main-list---link-name{
    margin: 0;
    font-weight: 700;
    text-align: center;
}
.main-list---link-info{
    margin: 0;
    color: #666666;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
}
.main-btn{
    display: block;
    height: 40px;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    background-color: #ffffff;
    color: #ff4e50;
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}
