@media screen and (max-width: 767px) and (orientation: portrait){
    /* HEADER */
    header{
        height: 540px;
    }
    nav{
        text-align: center;
    }
    .header-logo{
        padding-bottom: 38px;
    }
    .header-menu{
        padding-top: 20px;
        padding-bottom: 115px;
    }
    .header-menu--item{
        display: inline-block;
    }
    .header-title span{
        padding-bottom: 19px;
    }
    .header-caption span{
        display: block;
        padding-bottom: 19px;
    }
    .header-link--search{
        width: 280px;
    }
    /* MAIN */
    main{
        padding-top: 69px;
        padding-bottom: 57px;
    }
    .main-list--item{
        margin: 0 auto;
    }
    .main-title{
        padding-bottom: 15px;
    }
    .main-list--wrapper-img{
        margin-bottom: 20px;

    }
    .main-list---link-name{
        padding-bottom: 16px;
    }
    .main-list---link-info{
        padding-bottom: 29px;
    }
    .main-btn{
        width: 280px;
    }
    
}
@media screen and (max-width: 939px) and (orientation: landscape){
    /* HEADER */
    .container{
        width: 100% ;
    }
    header{
        height: 700px;
    }
    .bg-mood{
        background-image: url(../img/bgi-desktop.png);
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 38px 54px 152px;
    }
    .header-logo{
        padding: 0;
        line-height: 36px;
    }
    .header-menu{
        padding: 0;
    }
    .header-title{
        font-size: 52px;
    }
    .header-title span{
        padding-bottom: 40px;
    }
    .header-caption span{
        display: inline-block;
        padding-bottom: 0;
    }
    .header-caption{
      padding-bottom: 34px;
    }
    .header-link--search{
        width: 226px;
    }
    /* MAIN */
    main{
        padding-top: 72px;
        padding-bottom: 40px;
    }
    .main-title{
        padding-bottom: 32px;
    }
    .main-list{
        margin: 0 auto;
        width: 532px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .main-list--wrapper-img{
        margin-bottom: 20px;
    }
    .main-list---link-name{
       margin-bottom: 16px ;
    }
    .main-list--item{
        flex-basis: 236px;
    }
    .main-list--item:nth-child(even){
        order: 1;
    }
    .main-list--item:not(:nth-child(even)){
         margin-bottom: 69px;
    }.main-list--item:nth-child(even){
        margin-bottom: 39px;
    }
    .main-btn{
        width: 193px; 
    }
}





@media screen and  (min-width: 768px) and (max-width: 939px) and (orientation: portrait){
    /* HEADER */
    .container{
        width: 768px;

    }
    header{
        height: 700px;
    }
    .bg-mood{
        background-image: url(../img/bgi-desktop.png);
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 38px 54px 152px;
    }
    .header-logo{
        padding: 0;
        line-height: 36px;
    }
    .header-menu{
        padding: 0;
    }
    .header-title{
        font-size: 52px;
    }
    .header-title span{
        padding-bottom: 40px;
    }
    .header-caption span{
        display: inline-block;
        padding-bottom: 0;
    }
    .header-caption{
      padding-bottom: 34px;
    }
    .header-link--search{
        width: 226px;
    }
    /* MAIN */
    main{
        padding-top: 72px;
        padding-bottom: 40px;
    }
    .main-title{
        padding-bottom: 32px;
    }
    .main-list{
        margin: 0 auto;
        width: 532px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .main-list--item{
        flex-basis: 236px;
    }
    .main-list--wrapper-img{
        margin-bottom: 20px;
    }
    .main-list---link-name{
       margin-bottom: 16px ;
    }
    .main-list--item:nth-child(even){
        order: 1;
    }
    .main-list--item:not(:nth-child(even)){
         margin-bottom: 69px;
    }.main-list--item:nth-child(even){
        margin-bottom: 39px;
    }
    .main-btn{
        width: 193px; 
    }
}
@media screen and (min-width: 960px) and (orientation: landscape){
    
    .container{
        width: 100%;
    }
    header{
        height: 700px;
    }
    .bg-mood{
        background-image: url(../img/bgi-desktop.png);
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top:38px;
        padding-bottom: 150px; 
    }
    .header-logo{
        padding: 0;
        line-height: 36px;
    }
    .header-menu{
        padding: 0;
    }
    .header-title{
        font-size: 52px;
    }
    .header-title span{
        padding-bottom: 40px;
    }
    .header-caption span{
        display: inline-block;
        padding-bottom: 0;
    }
    .header-caption{
        padding-bottom: 35px;
    }
    .header-link--search{
        width: 225px;
    }
   
    main{
        padding-top: 70px;
        padding-bottom: 73px;
    }
    .main-title{
        padding-bottom: 33px;
    }
    .main-list{
        width: 940px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        
    }
    .main-list--item{
        flex-basis: 222px;
        margin-bottom: 39px;
    }
    .main-list--item:nth-child(even){
        order: 1;
    }
    .main-list--wrapper-img{
        margin-bottom: 21px;
    }
    .main-list---link-name{
        margin-bottom: 16px;
    }
    .main-btn{
        width: 192px; 
    }
}
@media screen and (min-width: 960px){
    /* HEADER */
    .container{
        width: 940px;
    }
    header{
        height: 700px;
    }
    .bg-mood{
        background-image: url(../img/bgi-desktop.png);
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top:38px;
        padding-bottom: 150px; 
    }
    .header-logo{
        padding: 0;
        line-height: 36px;
    }
    .header-menu{
        padding: 0;
    }
    .header-title{
        font-size: 52px;
    }
    .header-title span{
        padding-bottom: 40px;
    }
    .header-caption span{
        display: inline-block;
        padding-bottom: 0;
    }
    .header-caption{
      padding-bottom: 35px;
    }
    .header-link--search{
        width: 225px;
    }
    /* MAIN */
    main{
        padding-top: 70px;
        padding-bottom: 73px;
    }
    .main-title{
        padding-bottom: 33px;
    }
    .main-list{
        width: 940px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        
    }
    .main-list--item{
        flex-basis: 222px;
        margin-bottom: 39px;
    }
    .main-list--item:nth-child(even){
        order: 1;
    }
    .main-list--wrapper-img{
        margin-bottom: 21px;
    }
    .main-list---link-name{
       margin-bottom: 16px;
    }
    .main-btn{
        width: 192px; 
    }
}