@media (min-width: 767px){
    .container{
        max-width: 768px;

    }
    header{
        height: 700px;
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 38px 54px 152px;
    }
    .header-logo{
        padding: 0;
        line-height: 36px;
    }
    .header-menu{
        padding: 0;
    }
    .header-title{
        font-size: 52px;
    }
    .header-title span{
        padding-bottom: 40px;
    }
    .header-caption span{
        display: inline-block;
        padding-bottom: 0;
    }
    .header-caption{
      padding-bottom: 34px;
    }
    .header-link--search{
        width: 226px;
    }
    main{
        padding-top: 72px;
        padding-bottom: 40px;
    }
    .main-title{
        padding-bottom: 32px;
    }
    .main-list{
        list-style: none;
        margin: 0 auto;
        width: 532px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .main-list--item{
        flex-basis: 236px;
    }
    .main-list--item:nth-child(even){
        order: 1;
    }
    .main-list--item:not(:nth-child(even)){
         margin-bottom: 69px;
    }.main-list--item:(:nth-last-child(-n+2)){
        margin-bottom: 39px;
    }
    .main-btn{
        width: 193px; 
    }
}
