*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg, #EBF3FA, #DDE7F3, #E6F0F9);
    min-height: 100vh;
}
.container{
    max-width: 575px;
    margin: 0 auto;
}

.slider-bank-card{
    position: relative;
    overflow-x: hidden;
    padding-top: 80px;
}
.card-wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
}
.border-bank-card{
    width: 228px;
    height: 358px;
    background: linear-gradient(120deg, rgba(255, 255, 255, 1)  , rgba(219, 230, 242, 0), rgba(188, 201, 214, 0.4083), rgba(143, 159, 174, 1));
    box-shadow: 16px 4px 64px rgba(18, 61, 101, 0.3), -16px -16px 40px rgba(255, 255, 255, 0.8), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.bank-card{
    width: 224px;
    height: 354px;
    border-radius: 24px;
    
}
.bank-card--active{
    background: linear-gradient(200.6deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
    position: absolute;
}
.bank-card--passive{
    width: 228px;
    height: 358px;
    background: linear-gradient(239.14deg, rgba(191, 203, 217, 0.9) -17.47%, rgba(43, 59, 75, 0.9) 72.59%);
    box-shadow: 32px 28px 90px rgba(18, 46, 101, 0.28);
    backdrop-filter: blur(28px);
    position: absolute;
    right: -200px;
}

.bank-card p{
    margin: 0;
}
.bank-card__name{
    font-family: 'Gilroy Black Italic';
    font-size: 28px;
    letter-spacing: 0.56px;
    line-height: 100%;

    text-transform: uppercase;
    background: linear-gradient(120deg, rgba(110, 139, 178, 0.7) 10%, rgba(32, 47, 69, 1) 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: absolute;
    top: 37px;
    left: 33px;
    
}

.bank-card__number-shadow {
    text-shadow: 1px 1px 2px rgba(20, 44, 73, 0.38), -1px -1px 2px #FFFFFF;
    position: absolute;
    z-index: 1;

    position: absolute;
    top: 100px;
    left: 33px;
    z-index: 2;
    font-family: 'Share Tech Mono', monospace;
    font-size: 18px;
    line-height: 130%;  
    color: transparent;
}
.bank-card__number-shadow span{
    display: block;
}
.bank-card__number{
    position: absolute;
    top: 100px;
    left: 33px;
    z-index: 2;
    font-family: 'Share Tech Mono', monospace;
    font-size: 18px;
    line-height: 130%;
    background: linear-gradient(130deg, rgba(155, 171, 192, 0.9) 10%, rgba(32, 46, 67, 1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.bank-card__number span{
    display: block;
}
.bank-card__date-shadow{
    position: absolute;
    bottom: 70px;
    right: 24px;

    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    line-height: 130%;
    font-weight: normal;
    color: transparent;
    text-shadow: 1px 1px 2px rgba(20, 44, 73, 0.37), -1px -1px 2px rgba(255, 255, 255, 0.6);
}
.bank-card__date{
    position: absolute;
    bottom: 70px;
    right: 24px;

    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    line-height: 130%;
    font-weight: normal;
    background: linear-gradient(130deg, rgba(155, 171, 192, 0.9) -8.07%, rgba(32, 46, 67, 1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chip-border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 54px;
    position: absolute;
    top: 23px;
    right: 22px;

    background: linear-gradient(100deg, rgba(255, 255, 255, 1) , rgba(55, 83, 111, 0.4) );
    box-shadow: 4px 4px 14px rgba(136, 165, 191, 0.6), -12px -6px 36px #FFFFFF;
    border-radius: 8px;
}
.chip{
    width: 42px;
    height: 52px;
    overflow: hidden;
    background: #ECF2F9;
    opacity: 0.9;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bank-card__chrome-wrapper{
    width: 178px;
    height: 178px;
    border-radius: 17px;
    position: absolute;
    left: 7px;
    bottom: 9px;
    overflow: hidden;
   
}
.bank-card__chrome{
    position: absolute;
    top: -40px;
    left: -80px;
}


.mastercard__border-left{
    width: 32px;
    height: 32px;
    border-radius: 33.75px;
    background: linear-gradient(90deg, #FFFFFF -8.07%, #A6B2BD 103.42%);
    box-shadow: 3px 1.5px 10.5px rgba(18, 46, 101, 0.05), 3px 3px 16.5px rgba(18, 46, 101, 0.2), -9px -6px 31px #FFFFFF, inset -1.5px -1.5px 10.5px rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 22px;
    right: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mastercard__circle-left{
    width: 30px;
    height: 30px;
    background: linear-gradient(212.21deg, #FFFFFF -8.07%, #C6D7EB 103.42%);
    border-radius: 33.75px;

}
.mastercard__border-right{
    width: 32px;
    height: 32px;
    border-radius: 33.75px;
    background: linear-gradient(110deg, #FFFFFF -8.07%, #A6B2BD 70%);
    box-shadow: 3px 1.5px 10.5px rgba(18, 46, 101, 0.05), 3px 3px 16.5px rgba(18, 46, 101, 0.2), -9px -6px 21px #FFFFFF, inset -1.5px -1.5px 10.5px rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 22px;
    right: 21px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mastercard__circle-right{
    width: 30px;
    height: 30px;
    background: linear-gradient(212.21deg, #FFFFFF -8.07%, #C6D7EB 103.42%);
    border-radius: 33.75px;
 

}
.mastercard__border-intersect{
    width: 17px;
    height: 17px;
    background: linear-gradient(135deg, #FFFFFF 30%, #A6B2BD 80%);
    box-shadow: 3px 1.5px 10.5px rgba(18, 46, 101, 0.05), 3px 3px 16.5px rgba(18, 46, 101, 0.2), -9px -6px 21px #FFFFFF, inset -1.5px -1.5px 10.5px rgba(255, 255, 255, 0.2);
    border-radius: 100% 0;
    transform: rotate(-44deg);
    
    position: absolute;
    bottom: 29px;
    right: 38.5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.mastercard__intersect{
    width: 15px;
    height: 15px;
    border-radius: 100% 0;;
    background: linear-gradient(233.84deg, #FFFFFF -8.07%, #C6D7EB 103.42%);
    opacity: 0.7;


}
.pagination{
    width: 52px;
    height: 14px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 48px;
    
}
.pagination__first{
    position: absolute;
    top: 2px;
    left: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}
.pagination__first::before{
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url(../img/icons/cheched.svg);
    background-size: cover;
}

.pagination__second{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}
.pagination__second::after{
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url(../img/icons/default.svg);
    background-size: contain;
}
.pagination__third{
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}
.pagination__third::after{
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url(../img/icons/default.svg);
    background-size: contain;
}
.money-block{
    max-width: 82.6666%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 68px;
}
.money-block::before{
    content: '';
    display: block;
    position: absolute;
    width: 311px;
    height: 16px;
    background-image: url(../img/icons/credit.svg);
    top: 0;
    bottom: 0;
    left: -2px;
    right: 0;
    margin: auto;
}
.balance-wrapper,
.credit-wrapper{
    display: flex;
    justify-content: space-between;

}
.money-block p{
    margin: 0;
}
.balance-wrapper{
    font-family: 'Gilroy Bold',sans-serif;
    font-size: 26px;
    line-height: 100%;
    color: #31456A;
    padding-bottom: 65px;
}

.credit-wrapper{
    font-family: 'Gilroy Semibold';
    color: #31456A;
    font-size: 15px;
    line-height: 100%;
    font-weight: 600;
    opacity: 0.6;
}

.page-nav__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 375px;
    margin: 0 auto;
    justify-content: space-around;
}
.page-nav__link{
    width: 56px;
    height: 56px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-nav__link--default{
    background: linear-gradient(0deg, #E3EDF7, #E3EDF7);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
    border-radius: 16px;
}
.page-nav__img-pressed{
    display: none;
}
.page-nav__link:active .page-nav__img-pressed{
    display: block;
}
.page-nav__link:active .page-nav__img-default{
    display: none;
}
.page-nav__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-nav__item--pressed:active{
    border-radius: 18px;
    width: 60px;
    height: 60px;
    background: linear-gradient(-30deg, rgba(255, 255, 255, 0.8) 20%, rgba(55, 83, 111, 0.6) 60%);
    box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
}
.page-nav__link--pressed:active{
    width: 56px;
    height: 56px;
    background: rgba(227, 237, 247, 0.6);
    border-radius: 16px;
}

.page-nav__item--pressed-active{
    border-radius: 18px;
    width: 60px;
    height: 60px;
    background: linear-gradient(-30deg, rgba(255, 255, 255, 0.8) 20%, rgba(55, 83, 111, 0.6) 60%);
    box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
}
.page-nav__link--pressed-active{
    width: 56px;
    height: 56px;
    background: rgba(227, 237, 247, 0.6);
    border-radius: 16px;
}
.page-nav__link--default:active .page-nav__link--pressed{
    display: none;
}

.db{
    display: block
}