*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #EBF3FA, #DDE7F3, #E6F0F9);
    min-height: 100vh;

}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.container {
    max-width: 575px;
    margin: 0 auto;
    padding-left: 8%;
    padding-right: 8%;

}
.header-wrapper {
    display: flex;
    padding-top: 50px;

    margin-bottom: 28px;
}

.btn-swipe {
    border: none;
    background: transparent;
    width: 83px;
    height: 43px;
    position: relative;
    margin-right: 4%;
}

.btn-swipe::after {
    content: '';
    display: block;
    position: absolute;
    width: 83px;
    height: 43px;
    box-sizing: contain;
    background-repeat: no-repeat;
    background-image: url(../img/icons/swipe-left.svg);
    left: 0;
    top: 0;

}

.page-title {
    margin: 0;
    font-family: 'Gilroy Bold';
    font-size: 36px;
    line-height: 100%;
    color: #31456A;
    padding-top: 3px;
}

.period-block {
    width: 100%;
    height: 64px;
    background: #E3EDF7;
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.54), -4px -2px 16px #FFFFFF;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.period-block__title {
    font-family: 'Gilroy Medium';
    font-size: 18px;
    line-height: 100%;
    color: #31456A;
    opacity: 0.4;
    margin: 0;

}

.period-block__value {
    font-family: 'Gilroy Semibold';
    font-size: 18px;
    line-height: 100%;
    color: #31456A;
    margin: 0;

}

.period-block-btn {
    width: 36px;
    height: 36px;
    background: #E3EDF7;
    box-shadow: 4px 2px 10px rgba(136, 165, 191, 0.48), -4px -2px 10px #FFFFFF;
    border-radius: 44px;
    border: none;
    position: relative;
    padding: 0;
}

.period-block-btn::after {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    position: absolute;
    background-image: url(../img/icons/arrow-right.svg);
    top: 0;
    bottom: 0;
    right: 0;
    left: 3px;
    margin: auto;
}
.wrapper-pie-chart{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.body-pie-chart{
    width: 295px;
    height: 295px;
    background: #E3EDF7;
    box-shadow: 16px 10px 48px rgba(136, 165, 191, 0.58), -16px -2px 56px #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-chart{
    width: 261px;
    height: 261px;
    position: relative;
}
.pie-chart__sector-max{
    position: absolute;
    right: 0;
}
.pie-chart__sector-min{
    position: absolute;
    top: 0;
    left: 28%;
}
.pie-chart__sector-med{
    position: absolute;
    left: 0%;
    top: 7.3%;
}
.pie-chart__sector-active{
    position: absolute;
    left: -11%;
    top: 40%;
}
[class*="pie-chart__sector-value"]{
    margin: 0;
    position: absolute;
    font-family: 'Gilroy Bold';
    font-size: 1.8rem;
    background: linear-gradient(229.18deg, #612901 -118.3%, #FA832E 175.78%);
    transform: rotate(-140deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 35%;
    top: 35%;
}
.pie-chart__sector-value-shadow{
    text-shadow: 1px 1px 2px rgba(119, 54, 7, 0.3), -1px 0px 2px rgba(254, 237, 224, 0.2);
}
.pie-chart__wrapper_btn{
    width: 72px;
    height: 72px;
    background: #E3EDF7;
    box-shadow: 6px 4px 16px rgba(136, 165, 191, 0.58), -6px -4px 9px rgba(255, 255, 255, 0.9);
    border-radius: 41px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pie-chart__wrapper_btn::after{
    content: '';
    display: block;
    position: absolute;
    width: 82px;
    height: 80px;
    background-image: url(../img/icons/switch-group.svg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pie-chart__btn{
    position: relative;
    width: 70px;
    height: 70px;
    background: transparent;
    border: none;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}
.pie-chart__btn::after{
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    height: 76px;
    background-image: url(../img/icons/lamp-btn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 2%;
    left: -4%;
}
.pie-chart__btn::before{
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/icons/arrow3.svg);
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider-statistic{
    position: relative;
    width: 575px;
    height: 96px;
    
    display: flex;
    justify-content: center;

    
}
.slider-statistic__card{
    width: 75.22222%;
    height: 96px;
    background: linear-gradient(0deg, #E3EDF7, #E3EDF7);
    box-shadow: 6px 2px 16px rgba(136, 165, 191, 0.48), -6px -2px 7px rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
[class*="slider-statistic__card"]{
    position: absolute;
 
} 
.slider-statistic__card--left{
    left: 95%;
}
.slider-statistic__card--right{
    right: 95%;
}
.slider-statistic__card--center{
    right: 0;
    left: 0;
    margin: auto;
}
.wrap-slider-statistic{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    overflow-x: hidden;
    padding-bottom: 44px;
}
.slider-statistic__border-card{
    background: linear-gradient(130deg, rgba(255, 255, 255, 1), rgba(55, 83, 111, 0.2));
    /* box-shadow: 6px 2px 16px rgba(136, 165, 191, 0.48), -6px -2px 16px rgba(255, 255, 255, 0.8); */
    border-radius: 16px;
    width: 98%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-body-card{
    width: 99.3%;
    height: 88px;
    background: linear-gradient(0deg, #E3EDF7, #E3EDF7);
    border-radius: 16px;
    padding: 23px 8%;
}
.slider-statistic__row{
    display: flex;
    justify-content: space-between;
}
.slider-body-card p{
    margin: 0;
}

.slider-statistic__name{
    color: #31456A;
    opacity: 0.6;
    font-size: 16px;
    line-height: 100%;
    font-family: 'Gilroy Semibold';
}
.slider-statistic__sum,
.slider-statistic__procent{
    color: #31456A;
    font-family: 'Gilroy Bold';
    font-size: 18px;
    line-height: 100%;
}
.slider-statistic__row:first-child{
    padding-bottom: 8px;
}
.page-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 311px;
    margin: 0 auto;
    justify-content: space-around;
    padding-bottom: 30px;
}

.page-nav__link {
    width: 62px;
    height: 62px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-nav__link--pressed:active {

    background: linear-gradient(100deg, rgba(255, 255, 255, 1), rgba(55, 83, 111, 0.4));

}
.page-nav_box-link{
    background: linear-gradient(0deg, #E3EDF7, #E3EDF7);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
    border-radius: 16px;
    width: 56px;
    height: 56px;
    position: relative;
    
}
.page-nav__link--pressed:active .page-nav_box-link{
    background: #E3EDF7;
    box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.8), inset -3px -3px 7px #FFFFFF;
}
.page-nav__border-link{
    width: 60px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-nav__link--pressed:active .page-nav__border-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #E3EDF7, #E3EDF7);

}
.icon::after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.home::after {
    
    background-image: url(../img/icons/home.svg);
}
.page-nav__link--pressed:active .home::after{
    background-image: url(../img/icons/home-pressed.svg);
}
.new::after {
    background-image: url(../img/icons/new.svg);
}
.page-nav__link--pressed:active .new::after{
    background-image: url(../img/icons/new-pressed.svg);
}
.cards::after {
    background-image: url(../img/icons/cards-pressed.svg);
}
/* .page-nav__link--pressed:active .cards::after{
    background-image: url(../img/icons/cards-pressed.svg);
} */
.settings::after {
    background-image: url(../img/icons/settings.svg);
}
.page-nav__link--pressed:active .settings::after{
    background-image: url(../img/icons/settings-pressed.svg);
}


/* ДЛЯ АКТИВНЫХ ССЫЛОК ПРИ ОТСУТСТВИЯ JS */


.cards::after {
    background-image: url(../img/icons/cards-pressed.svg);
}
/* .page-nav__link--pressed:active .cards::after{
    background-image: url(../img/icons/cards-pressed.svg);
} */
.idontknowjs--link{
    width: 62px;
    height: 62px;
    background: linear-gradient(100deg, rgba(255, 255, 255, 1), rgba(55, 83, 111, 0.4));
    border-radius: 16px;

}
.idontknowjs--border{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #E3EDF7, #E3EDF7);
}
.idontknowjs--box{
    background: #E3EDF7;
    box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.8), inset -3px -3px 7px #FFFFFF;
}