$primary-white-color: #ffffff;
$primary-dark-color: #333333;
$secondary-dark-color: #999999;
$primary-mint-color: #95e1d3;
$primary-coral-color:  #f38181;
$primary-yellow-color:#fce38a;
$opacity-coral-color:  rgba(243, 129, 129, 0.9);
$opacity-yellow-color:rgba(252, 227, 138, 0.9);
$underline-grey-color: #e7e7e7;
$placeholder-grey-color:#cccccc;

$main-font-stack:'Montserrat';
$second-font-stack:'Roboto';





$site-gradient: linear-gradient( rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9));
