*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
.link{
    text-decoration: none;
    display: block;
}
.page-header {
    padding-top: 28px;
    min-height: 86px;
    background-color: transparent;
    color: #fff;
}

.page-header-img{
    background-image: url(../img/eagle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 1000px;
    margin: 0 auto;
    margin-bottom: 46px;
 
}
.page-header-grdnt{
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%);
    width: 100%;
    height: 1000px;
}
.page-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 178px;
}

.site-logo {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.site-logo span {
    text-transform: lowercase;
}

.site-navigation{
    padding: 0;
    margin: 0;
    width: 620px;
    list-style: none;
}
.site-navigation__item{
    border-bottom: 3px solid transparent;
    transition: border linear 0.2s;
}
.site-navigation__item:nth-last-child(-n+2){
    padding-top: 4px;
}
.site-navigation__link{
    width: 100%;
    height: 100%;
    padding: 12px 12px 12px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    transition: linear 0.2s;
}
.site-navigation__item:hover .site-navigation__link ,
.site-navigation__link:focus  {
    color: #fce38a;
    
}
.site-navigation__item:not(:nth-last-child(-n+2)):hover,
.site-navigation__link:focus .site-navigation__item{
    border-bottom: 3px solid #fce38a;
}
.site-navigation svg{
    fill: #fff;
    width: 18px;
    height: 18px;
    transition: linear 0.2s;
}
.site-navigation__link:hover svg,
.site-navigation__link:focus svg{
    fill: #fce38a;
 
}
.page-header_title{
    color: #ffffff;
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    text-align: center;
    margin: 0;
 
}
.page-header_title span{
    display: block;
    font-family: Montserrat;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    padding-top: 42px;
    padding-bottom: 124px;
}
.page-header__link{
    max-width: 166px;
    display: block;

    margin: 0 auto;
    color: #ffffff;
    font-family: Montserrat;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 29px 11px 30px;
    border: 3px solid #ffffff;
}

.section-sevice {
    padding-bottom: 87px;
}

.section-sevice__title {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 69px;

}

.section-sevice__title span {
    display: block;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    line-height: 74px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.section-sevice__title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;

}

.section-sevice__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    min-height: 240px;
}

.section-sevice__item svg{
    width: 32px;
    height: 32px;
    fill: #95e1d3;;
}

.mb-100:not(:nth-last-child(-n+3)) {
    margin-bottom: 100px;
}

.section-sevice__item-headline {
    margin: 0;
    display: inline-block;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
}

.section-sevice__item-content {
    margin: 0;
    color: #999999;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}  
.section-team{
    padding-bottom: 82px;  
}

.section-team__title {
    margin: 0;
    text-align: center;
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 49px;
}

.section-team__title span {
    display: block;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    line-height: 74px;
    text-transform: uppercase;
    padding-bottom: 20px;

}

.section-team__title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
}

.section-team__text {
    margin: 0;
    width: 941px;
    height: 39px;
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;

    padding-bottom: 92px;

}

.section-team__item {
    width: 380px;
    margin: 0;
    padding: 0;
}

.section-team__name {
    margin: 0;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.section-team__name span {
    display: block;
    color: #999999;
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-transform: none;

}

.bgc-card {
    position: relative;
    width: 380px;
    height: 470px;
    background-color: transparent;
    margin-bottom: 31px;
    transition: linear 0.2s;
}

.section-team__img {
    position: absolute;
    z-index: 1;
    transition: linear 0.2s;
    display: block;
}

.grdnt-card {
    position: absolute;
    opacity: 0;
    width: 380px;
    height: 470px;
    background: linear-gradient(90deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    z-index: 2;
    transition: linear 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bgc-card:hover {
    background-color: #95e1d3;
}

.bgc-card:hover .section-team__img {
    transform: translate(-10px, -10px);

}

.bgc-card:hover .grdnt-card {
    opacity: 1;
    transform: translate(-10px, -10px);

}

/* .wrapper-card-social-list {
    width: 380px;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.social {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}


.social__link {
    display: block;
    opacity: 0;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    transition: linear 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__item:not(:last-child)::after {
    position: absolute;
    content: '';
    display: block;
    background-color: rgb(243, 129, 129);
    opacity: 0.502;
    width: 1px;
    height: 56px;
    top: 0;
    right: 0;
}

.bgc-card:hover .social__link {
    opacity: 1;
 
}
.social__link:hover{
    background-color: #f38181;
}
.social__link:hover svg{
    fill:#fff;
}
.social svg{
  display: block;
    height: 26px;
    width: 26px;
    fill:#f38181;
    transition: linear 0.2s;
}


.page-footer {
    min-height: 64px;
    position: relative;
}

.main-footer-wrapper {
    display: flex;
    min-height: 64px;
    justify-content: space-between;
    align-items: center;
}

.page-footer__text {
    padding: 0;
    margin: 0;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
}

.page-footer__text span {
    color: #f38181;
}

.page-footer::before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgb(229, 229, 229);
    width: 1200px;
    ;
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;

}

.page-footer__form {
    font-size: 0;
}

.page-footer__emeil {
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    color: #cccccc;
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    padding-left: 13px;
}

.page-footer__btn {
    width: 150px;
    height: 40px;
    border: none;
    background-color: #95e1d3;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.ml-20{
    margin-left: -20px;
}


@media (min-width:1220px){
    .col,
    [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px;
    }
    .container {
        max-width: 1200px;
        padding-left: 10px;
        padding-right: 10px;

    }
    
}