
a:hover {
    text-decoration: none;
    color: inherit;
}

.link {
    text-decoration: none;
    display: block;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    margin: 0;
    text-align: center;
    line-height: 1;
}

.text {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.screen-img {
    background-image: url(../img/eagle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 1000px;
    margin: 0 auto;
}

.header-screen-img {
    margin-bottom: 24px;
}

.screen-gradient {
    background-image: -webkit-linear-gradient(90deg, rgb(252, 227, 138, 0.9) 0%, rgb(243, 129, 129, 0.9) 100%);
    width: 100%;
    height: 100%;
}

.page-header {
    padding-top: 28px;
    height: 86px;
    background-color: transparent;
    color: #fff;
}

.page-nav {
    margin-bottom: 160px;
}

.site-logo {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.site-logo--lowercase {
    text-transform: lowercase;
}

.site-navigation {
    width: 620px;
}

.site-navigation__item:nth-last-child(-n+2) {
    margin-top: -3px;
}

.site-navigation__link {
    padding: 12px 0;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;
    border-bottom: 3px solid transparent;

}

.site-navigation__link--hover-yellow:hover,
.site-navigation__link--hover-yellow:focus {
    color: #fce38a;
}

.site-navigation__link--hover-border:hover,
.site-navigation__link--hover-border:focus {
    border-bottom: 3px solid #fce38a;
}

.site-navigation__icon {
    fill: #fff;
    width: 18px;
    height: 18px;
    -webkit-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;
}

.site-navigation__icon--hover-yellow:hover,
.site-navigation__link:focus .site-navigation__icon--hover-yellow  {
    fill: #fce38a;

}

.section-title {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;

}

.section-title--white-big {
    color: #ffffff;
    font-size: 72px;
}

.section-title__indent {
    display: block;
    line-height: 1;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title__indent--big {
    color: inherit;
    font-size: 150px;
}

.page-header__title {
    margin-bottom: 129px;
}

.custom-btn {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 31px 12px 31px;
    border: 3px solid transparent;
    cursor: pointer;
}

.custom-btn--border-white {
    padding: 10px 27px 10px;
    border: 3px solid #ffffff;
    background-color: transparent;
}

.section-services {
    margin-bottom: 87px;
}

.section-services__title {
    margin-bottom: 111px;
    line-height: 68px;
}


.section-title--underline::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    bottom: -42px;
    right: 0;
    left: 0;
    margin: auto;

}

.block-services__icon {
    width: 32px;
    height: 32px;
    fill: #95e1d3;
    margin: 2px 29px 0 22px;
}

.row .block-services:not(:nth-last-child(-n+3)) {
    margin-bottom: 101px;
}

.block-title {
    margin: 0;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;

}

.block-services__title {
    margin-bottom: 13px;
}

.section-team {
    margin-bottom: 82px;
}

.section-team__title {
    margin-bottom: 90px;
    line-height: 68px;
}

.section-team__text {
    text-align: center;
    padding-bottom: 88px;
}

.team-card {
    width: 380px;
}

.team-card__bgc {
    background-color: transparent;
    margin-bottom: 31px;
    -webkit-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;
    width: 380px;
    height: 470px;
}

.team-card__img {
    position: absolute;
    z-index: 1;
    -webkit-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;
    display: block;
}

.team-card__gradient {
    position: absolute;
    opacity: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background: -o-linear-gradient(left, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background: linear-gradient(90deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    z-index: 2;
    -webkit-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;
    width: 380px;
    height: 470px;

}

.team-card__bgc--turquoise:hover {
    background-color: #95e1d3;
}

.team-card__bgc--hover-translete:hover .team-card__img,
.team-card__bgc--hover-translete:hover .team-card__gradient {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);

}

.team-card__bgc--hover-visible:hover .team-card__gradient {
    opacity: 1;
  
}


.social__link {

    opacity: 0;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    -webkit-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;

}

.social__item--column-border::after {
    position: absolute;
    content: '';
    display: block;
    background-color: rgb(243, 129, 129);
    opacity: 0.502;
    width: 1px;
    height: 56px;
    top: 0;
    right: 0;
}

.team-card__bgc:hover .social__link {
    opacity: 1;

}

.social__link--hover-orange:hover {
    background-color: #f38181;
}

.social__icon {
    display: block;
    height: 26px;
    width: 26px;
    fill: #f38181;
    -webkit-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;
}

.social__link--hover-orange:hover .social__icon {
    fill: #fff;
}

.team-card-name {
    text-align: center;

}

.team-card-name__function {
    display: block;
    font-style: italic;
    font-weight: 300;
    padding-top: 15px;
}


.page-footer {
    height: 64px;

}

.page-footer_description {
    text-transform: none;
}

.page-footer_created-name {
    color: #f38181;
}

.page-footer--topline-grey::before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgb(229, 229, 229);
    width: 1200px;
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;

}

.page-footer__form {
    padding-top: 10px;
    padding-bottom: 11px;
}

.page-footer__emeil {
    padding: 11px 54px 11px 13px;
    border: 1px solid #e7e7e7;
    color: #333333;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;

}

.page-footer__emeil--placeholder::-webkit-input-placeholder {
    color: #cccccc;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
    font-style: italic;

}

.page-footer__emeil--placeholder::-moz-placeholder {
    color: #cccccc;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
    font-style: italic;

}

.page-footer__emeil--placeholder:-ms-input-placeholder {
    color: #cccccc;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
    font-style: italic;

}

.page-footer__emeil--placeholder::-ms-input-placeholder {
    color: #cccccc;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
    font-style: italic;

}

.page-footer__emeil--placeholder::placeholder {
    color: #cccccc;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
    font-style: italic;

}
.custom-btn--turquoise {
    background-color: #95e1d3;
    border-color: #95e1d3;
}


@media (min-width:1220px) {
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .col,
    [class*="col-"] {
        padding-right: 10px;
        padding-left: 10px;
    }

    .container {
        max-width: 1200px;
        padding-right: 10px;
        padding-left: 10px;
    }

}