html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
main{
    background-color: #e9f0fd;
}
.border-site {
    max-width: 1110px;
    margin: 0 auto;

}

.page-nav {

    padding: 31px 0 37px 0;
}

.page-logo {
    display: inline-block;
    color: #555252;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    text-decoration: none;
}

.page-logo::first-letter {
    color: #1abc9c;
    font-family: "Roboto";
    font-weight: 800;
}

.page-nav-list {
    float: right;
    width: 467px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 7px;
}

.page-nav-list li {
    float: left;
}

.page-nav-list a {
    display: block;
    color: #0f0101;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: -0.28px;
    text-transform: uppercase;
    text-decoration: none;
}

.page-nav-list li:first-child {
    margin-right: 34px;
}

.page-nav-list li:nth-child(2) {
    margin-right: 36px;
}

.page-nav-list li:nth-child(3) {
    margin-right: 30px;
}

.page-nav-list li:nth-child(4) {
    margin-right: 27px;
}

.page-nav-list li:nth-child(5) {
    margin-right: 34px;
}

.page-nav-list a:hover,
.page-nav-list a:focus {
    color: #1abc9c;
}

.slider {
    position: relative;
    margin: 0 auto;
    min-height: 600px;
    max-width: 100%;
    margin-bottom: 101px;
    background: url(../img/slide.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.slider-opacity{
        background-color: rgb(0, 0, 2);
        opacity: 0.522;
        min-height: 600px;
        max-width: 100%;
}

.slides {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    top:208px;
    left:428px;

}
.slides-style{
    color: #ffffff;
    font-family: "Roboto"; 
    text-transform: uppercase;
}
.slides-style h2{
    margin: 0;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -1.2px;
    line-height: 82px;
}
.slides-style p{
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.48px;
    line-height: 54px;

}

.slider-ctrl {
    padding: 0;
    margin: 0;
    position: absolute;
    display: block;
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    border: none;
    top: 50%;
    transform: translatey(-50%)
}

.slider-pre {
    left: 245px;
}

.slider-next {
    left: 1251px;
}
.slider-next::before{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: url(../img/icon/icon-arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
}
.slider-pre::after{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/icon/icon-arrow-left.png);
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slider-pre:hover,
.slider-next:hover{
    background-color: #4ec6ab;
    opacity: 0.65;
}

.new-collection-headline {
    margin: 0;
    text-align: center;
    color: #515151;
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 800;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.96px;
    margin-bottom: 120px;
}

.new-collection-headline::after {
    content: '';
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 32px;
}
.collection {
    min-height: 676px;
}
.collection-list{
    list-style: none;
    font-size: 0;
    text-align: center;
}
.collection-list-item{
    display: inline-block;
}
.collection-list-item:not(:last-child){
    margin-right: 30px;
}
.collection-list-item-img{
    display: block;
}
.collection-list-item-link{
    display: block;
    position: relative;
}
.collection-list-item-link p{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.36px;
}
.collection-list-item-name{
    position: absolute;
    margin: 0;
    width: 200px;
    height: 40px;
    left: 0;
    bottom: 0;
    background-color: #323232;
  
    text-align-last: left;
    padding: 5px 0 9px 14px;
    }
.collection-list-item-price{
    position: absolute;
    margin: 0;
    width: 55px;
    height: 40px;
    right: 0;
    bottom: 0;
    background-color: #8c8c8c;
    padding: 5px 4px 5px;
}






















.page-footer{
    min-height: 88px;
    background-color: #323232;
}