html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

main {
    background-color: #e9f0fd;
}

.relative {
    position: relative;
}

.border-site {
    max-width: 1110px;
    margin: 0 auto;

}

.page-nav {

    padding: 31px 0 37px 0;
}

.page-logo {
    display: inline-block;
    color: #555252;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    text-decoration: none;
}

.page-logo::first-letter {
    color: #1abc9c;
    font-family: "Roboto";
    font-weight: 800;
}

.page-nav-list {
    float: right;
    width: 467px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 7px;
}

.page-nav-list li {
    float: left;
}

.page-nav-list a {
    display: block;
    color: #0f0101;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: -0.28px;
    text-transform: uppercase;
    text-decoration: none;
}

.page-nav-list li:first-child {
    margin-right: 34px;
}

.page-nav-list li:nth-child(2) {
    margin-right: 36px;
}

.page-nav-list li:nth-child(3) {
    margin-right: 30px;
}

.page-nav-list li:nth-child(4) {
    margin-right: 27px;
}

.page-nav-list li:nth-child(5) {
    margin-right: 34px;
}

.page-nav-list a:hover,
.page-nav-list a:focus {
    color: #1abc9c;
}

.slider {

    margin: 0 auto;
    min-height: 600px;
    max-width: 100%;
    margin-bottom: 101px;
    background: url(../img/slide.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.slider-opacity {
    position: relative;
    background-color: rgba(0, 0, 2, 0.522);
    min-height: 600px;
    max-width: 100%;
}

.slides {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 207px;
    left: 430px;

}

.slides-style {
    color: #ffffff;
    font-family: "Roboto";
    text-transform: uppercase;
}

.slides-style h2 {
    margin: 0;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -1.2px;
    line-height: 82px;
}

.slides-style p {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.48px;
    line-height: 54px;

}

.slider-ctrl {
    padding: 0;
    margin: 0;
    position: absolute;
    display: block;
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    border: none;
    cursor: pointer;
    top: 225px;

}

.slider-pre {
    left: 235px;
}

.slider-next {
    right: 235px;
    ;
}

.slider-next::before {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 38px;
    background-image: url(../img/icon/icon-arrow-right.png);
    background-repeat: no-repeat;
    top: 30px;
    right: 37px;
}

.slider-pre::after {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 38px;
    background-image: url(../img/icon/icon-arrow-left.png);
    background-repeat: no-repeat;
    top: 30px;
    left: 41px;
}

.slider-pre:hover,
.slider-next:hover,
.slider-pre:focus,
.slider-next:focus {
    transition: linear 0.3s;
    background-color: rgba(78, 198, 171, 0.65)
}


.new-collection-headline {
    margin: 0;
    text-align: center;
    color: #515151;
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 800;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.96px;
    margin-bottom: 120px;
}

.new-collection-headline::after {
    content: '';
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 32px;
}

.collection {
    min-height: 676px;
}

.collection-list {
    list-style: none;
    font-size: 0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.collection-list-item {
    display: inline-block;
}

.collection-list-item:not(:last-child) {
    margin-right: 30px;
}

.collection-list-item-img {
    display: block;
}

.collection-list-item-card {
    display: block;
    position: relative;
}

.collection-list-item-card a {
    display: block;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.36px;
}

.collection-list-item-name {
    position: absolute;
    width: 255px;
    height: 40px;
    left: 0;
    bottom: 0;
    background-color: #323232;
    text-align-last: left;
    padding: 5px 0 9px 14px;
}

.collection-list-item-price {
    position: absolute;
    width: 55px;
    height: 40px;
    right: 0;
    bottom: 0;
    background-color: #8c8c8c;
    padding: 5px 0 5px 12px;
}

.collection-list-item-card:hover .collection-list-item-name,
.collection-list-item-card a:focus {
    background-color: #1abc9c;
    transition: linear 0.3s;
}

.collection-list-item-card:hover .collection-list-item-price,
.collection-list-item-card a:focus .collection-list-item-price {
    background-color: #7fd9c8;

}

.collection-list-item-card:hover .collection-list-item-ctrl {
    visibility: visible;
    opacity: 1;
}

.collection-list-item-ctrl {
    position: absolute;
    font-size: 0;
    width: 255px;
    height: 282px;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.55);
    border: 10px solid rgba(255, 255, 255, 0.55);
    padding-top: 89px;
    visibility: hidden;
    opacity: 0;
    transition: linear 0.3s;
}

.collection-list-item-list-icon {
    list-style: none;
    padding: 0;
}

.collection-list-item-list-icon li {
    display: inline-block;

}

.collection-list-item-list-icon li:not(:nth-child(n+3)) {
    margin-right: 9px;
}

.collection-list-item-list-icon li:not(:nth-child(4n)) {
    margin-bottom: 7px;
}

.btn-icon {
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    background-color: transparent;
    cursor: pointer;
    display: block;
}

.icon-heart::after {
    content: '';
    position: absolute;
    background-image: url(../img/icon/icon-heart.png);
    width: 26px;
    height: 23px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-two-arrow::after {
    content: '';
    position: absolute;
    background-image: url(../img/icon/icon-two-arrow.png);
    width: 26px;
    height: 23px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-watch::after {
    content: '';
    position: absolute;
    background-image: url(../img/icon/icon-watch.png);
    width: 24px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-curt {
    width: 166px;
    height: 50px;
    background-color: #323232;
}

.icon-curt span {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -0.28px;
    top: 10px;
    left: 61px;
}

.icon-curt::after {
    content: '';
    position: absolute;
    background-image: url(../img/icon/icon-curt.png);
    width: 28px;
    height: 27px;
    top: 11px;
    left: 13px;

}

.icon-heart:hover,
.icon-two-arrow:hover,
.icon-watch:hover,
.icon-curt:hover {
    transition: linear 0.3s;
    border: 1px solid #1abc9c;
    background-color: #1abc9c;
}

.page-footer {
    min-height: 88px;
    background-color: #323232;
    text-align: center;
    padding: 32px 27px 0;
}

.page-footer p {
    margin: 0;
    padding: 0;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.32px;
}

.page-footer span {
    color: #46bfa9;
}