html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 26px;
    max-width: 1110px;
    margin: 0 auto;
    padding-bottom: 82px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.page-nav {
    padding: 42px 0 104px 0;
}

.link-logo {
    display: inline-block;
    font-family: Roboto;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    color: #555252;
}

.link-logo::first-letter {
    color: #1abc9c;
    font-weight: 400;
}
.site-navigation {
    float: right;
    list-style-type: none;
    width: 467px;
    margin: 0;
    padding: 0;
    margin-top: 11px;
}

.site-navigation li {
    float: left;

}

.site-navigation li:not(:last-child) {
    margin-right: 30px;
}

.site-navigation a {
    color: #0f0101;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 11px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

.menu-product-headline {
    font-size: 48px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin: 0;
    margin-bottom: 92px;
}

.menu-product-headline::after {
    display: block;
    content: "";
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 32px;
}

.menu-product-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 104px;

}

.menu-product-list a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.menu-product-list-item {

    float: left;
    width: 254px;
}

.menu-product-list-item:not(:nth-child(4n+4)) {
    margin-right: 30px;
}

.menu-product-list-item:not(:nth-child(n+5)) {
    margin-bottom: 30px;
}


.menu-blog-headline {
    font-size: 48px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin: 0;
    margin-bottom: 81px;
}

.menu-blog-headline::after {
    display: block;
    content: "";
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;
    margin: 0 auto;
    margin-top: 32px;

}

.menu-blog-post-caption::after {
    display: block;
    content: "";
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    margin-top: 7px;
}

.menu-blog-post {
    width: 350px;
    float: left;
}

article:not(:last-child) {
    margin-right: 30px;
}

.menu-blog-post-img {
    margin-bottom: 10px;
}

.menu-blog-post-caption {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    margin-bottom: 23px;
}

.menu-blog-post-content {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    margin-bottom: 9px;
}

.menu-blog-post-read-more {
    display: block;
    width: 159px;
    height: 51px;
    background-color: #4ec6ab;
    border: 0;
    border-radius: 4%/8%;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    display: block;
    padding: 12px;
}

.menu-blog-post-read-more:hover,
.menu-blog-post-read-more:focus {
    background-color: #7fd9c8;
}

.caption-product {
    width: 200px;
    height: 40px;
    text-decoration: none;
    float: left;
    background-color: #323232;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0;
    padding: 6px 0 8px 14px;
}

.price-product {
    width: 54px;
    height: 40px;
    text-decoration: none;
    float: right;
    background-color: #8c8c8c;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 12px 5px 12px;
}

.menu-product-list-item-link:hover .caption-product,
.menu-product-list-item-link:focus .caption-product {
    background-color: #1abc9c;
}

.menu-product-list-item-link:hover .price-product,
.menu-product-list-item-link:focus .price-product
 {
    background-color: #7fd9c8;
}